body {
    margin:0;
    padding:0;
}
.construct {
    background-color: black;
    height:100%;
    width:100%;
}
.button a {
    color:#d6d4d4;
    text-decoration: none;
    font-size:15px;
    padding:3px 0 3px 0;
}
.button {
    display:flex;
    justify-content: space-around;
    width: 900px;
    margin: 0 auto 0 auto;
}
.button a:hover {
    color:white;
}
.top {
    background-color: #353536;
}
.top1 {
    width: 1300px;
    margin: 0 auto 0 auto;
}
.top2 {
    display:flex;
    justify-content: space-evenly;
    width: 1300px;
    margin: 0 auto 0 auto;
}
.top1 img{
    height: 50px;
}
.top2 a {
    text-decoration: none;
    color: white;
}
.text_block {
    padding: 10px;
}
.text_block:hover {
    border:#838385 solid 0.5px;
    background-color: #606061;
}
.vidos {
    width:300px;

}
.block {
    width: 300px;
}
div p {
    padding: 0;
    margin:0;
    color:#706f6f;
}