body {
    margin:0;
    padding:0;
}
html {
    scroll-behavior: smooth;
}
.first {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 26%, rgba(26,26,180,1) 60%);
    height: 100vh;
    width:100%;
}
.header {
    width: 100%;
    text-align: center;
   
    position: fixed;
}
.border {
    background: rgb(153, 255, 255, 0.5);
    border-radius: 50px;
    border: solid 5px rgb(153, 255, 255, 0.5);
    padding: 20px;
    width: 70%;
    margin: auto;
}
.link { 
    text-decoration: none;
    color:#7ef7e9;
    font-size: 30px;
    padding:0 50px 0 50px;
    transition: 0.3s;
}
.link:hover {
    color:#6d8ee3;
    outline: thick double #6d8ee3;
    outline-offset: -1px;
    border-radius: 10%;
}
.content {
    width: 100%;
}
.main {
    width: 75%;
    margin: auto;
    padding-top:10%  ;
    display:flex;
}
.img {
    width: 350px;
    height: 475px;
    border-radius: 20%;
    box-shadow: 10px 10px 50px black;
}
.name {   
    color: #5fcaed;         
    word-break: break-all;
    font-weight: 900;
    font-size: 16px;

}
.line {
    width:0;
    padding: 0px 20px 0px 0px;  
}
.text_block {
    width: 60%;
    text-align: center;
    margin: auto;
}
.text {
    font-size: 29px;
    color: #5fcaed;
    margin:0;
    padding: 0;
}
.second {
    background-image: url('img/skills.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
.skills {
    padding-top:10% ;
    width: 70%;
    margin: auto;
}
.h {
    display:flex;
}
.list {
    margin: 0;
    padding: 0;
    transition: 0.3s;
}
.menu {
    background-color: black;
    height: 5px;
    width: 30px;
    margin-top: 5px;
    position: relative;
}
.p:hover>:not(li) {
    transition: 0.3s;
    transform: rotate(90deg);
    cursor: pointer;
}
.list:hover .sub_list{
    display: block;
}
.sub_list {
    list-style-type: none;
    position: absolute;
    display: none;

}