@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Mooli&family=Tillana:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Mooli&family=Oswald&family=Tillana:wght@500;600&display=swap');
body {
    margin:0;
    padding:0;
}
html {
    scroll-behavior: smooth;
}
.first {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 26%, rgba(26,26,180,1) 60%);
    height: 100vh;
    width:100%;
}
.header {
    width: 100%;
    text-align: center;
   
    position: fixed;
}
.border {
    background: rgb(153, 255, 255, 0.5);
    border-radius: 50px;
    border: solid 5px rgb(153, 255, 255, 0.5);
    padding: 20px;
    width: 70%;
    margin: auto;
}
.link { 
    text-decoration: none;
    color:#7ef7e9;
    font-size: 30px;
    padding:0 50px 0 50px;
    transition: 0.3s;
    font-family: 'Oswald', sans-serif;
}
.link:hover {
    color:#6d8ee3;
    outline: thick double #6d8ee3;
    outline-offset: -1px;
    border-radius: 10%;
}
.content {
    width: 100%;
}
.main {
    width: 75%;
    margin: auto;
    padding-top:10%  ;
    display:flex;
}
.img {
    width: 350px;
    height: 475px;
    border-radius: 20%;
    box-shadow: 10px 10px 50px black;
}
.name {   
    color: #5fcaed;         
    word-break: break-all;
    font-weight: 900;
    font-size: 16px;
    
}
.line {
    width:0;
    padding: 0px 20px 0px 0px;  
}
.text_block {
    width: 60%;
    text-align: center;
    margin: auto;
}
.text {
    font-size: 29px;
    color: #5fcaed;
    margin:0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}
.second {
    background-color: #90c6f5;
    width: 100%;
    height: 100vh;
}
.skills {
    padding-top:10% ;
    width: 70%;
    margin: auto;
}
.flex {
    display:flex;
    margin-top: 100px;
}
.list {
    margin: 0;
    padding: 0px 5px 5px 5px;
    transition: 0.3s;
    height: 100%;
    background-color: antiquewhite;
    border-radius: 5px;
}
.menu {
    background-color: black;
    height: 5px;
    width: 30px;
    margin-top: 5px;
}
.list:hover {
    cursor: pointer;
}
.sub_list {
    list-style-type: none;
    margin: 0;
    margin-left:30px;
    margin-top: 30px;
    padding-left: 0;
    transition: 0.3s;
    opacity: 0;
    background-color: #fff;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    
}
.sub_list li {
    padding: 5px 0px;
}
.active {
    opacity:1;
    transition: 0.3s;
} 
.active_menu    {
    transition: 0.3s;
    transform: rotate(90deg);
    cursor: pointer;
    background-color: bisque;
}
.logo {
    height: 20px;
    padding-left: 5px;
}
.h1 {
    font-size: 100px;
    text-align: center;
    font-family: 'Mooli', sans-serif;
}
.text2 {
    font-size: 40px;
    color: #055a6b;
    margin: 0;
    font-family: 'Mooli', sans-serif;
}
span.size-48 {
    font-size: 48px;
    font-variation-settings: 'OPSZ' 48;
    height: 100%;
    padding-left: 50px;
}
.line2 {
    border: grey 0.5px solid;
    width: 90%;
    margin: auto;
}
.border_line {
    border: grey 2px solid;
    color:grey;
    background-color: grey;
    font-size: 15px;
    text-align: center;
}
ul li {
    font-family: 'Oswald', sans-serif;
}

@media (max-width:1453px) {
    .link {
        padding:0 30px 0 30px;
    }
} 
@media (max-width:1225px) {
    .link {
        padding:0 15px 0 15px;
    }   
}
@media (max-height:875px) {
    .second {
        height: 875px;
    }
}
@media (max-height:550px) {
    .second {
        height: 10px;
    }
}